@layout AuthLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@page "/register"

@if(ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors!)
        {
            <p>@error</p>
        }
    </div>
}
<div class="container ">
    <EditForm class="form mt-5 login m-auto" Model="RegisterModel" OnValidSubmit="HandleRegistration">
   <DataAnnotationsValidator />
            @* ValidationSummary dùng để hiển thị tất cả loại thông báo lỗi tại một vị trí *@
            @* <ValidationSummary /> *@
        <h3 class="text-dark">Bạn đã có tài khoản ?, <a href="/login" class="text-blue-500">Đăng nhập</a></h3>
        <div class="form-group mt-2">
          <label for="name" class="-dark font-bold">Tên tài khoản:</label><br>  
             <InputText type="text" name="name" id="name" class="form-control input" @bind-Value="RegisterModel.UserName" />
            <ValidationMessage For="@(() => RegisterModel.UserName)" @bind-Value="RegisterModel.UserName" />
        </div>
        <div class="form-group mt-2">
            <label for="email" class="text-dark font-bold">Email:</label><br>
            <InputText type="email" name="email" id="email" class="form-control focus:shadow-outline input" @bind-Value="RegisterModel.Email" />
             <ValidationMessage For="@(() => RegisterModel.Email)" @bind-Value="RegisterModel.Email" />
        </div>
        <div class="form-group mt-2">
            <label for="password" class="text-dark font-bold">Password:</label><br>
            <InputText type="password" name="password" id="password" class="form-control focus:shadow-outline input" @bind-Value="RegisterModel.Password" />
           <ValidationMessage For="@(() => RegisterModel.Password)" />
        </div>
        <div class="form-group mt-2">
            <label for="confirm-password" class="text-dark font-bold">Confirm Password:</label><br>
            <InputText type="password" name="password_confirmation" id="confirm-password" class="form-control input" @bind-Value="RegisterModel.ConfirmPassword" />
            <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn focus:border-white mt-6" value="Đăng Ký">
        </div>
    </EditForm>

</div>


@code {

    private RegisterModel RegisterModel = new RegisterModel();
    private bool ShowErrors;
    private IEnumerable<string>? Errors;

    private async Task HandleRegistration()
    {
        ShowErrors = false;

        var result = await AuthService.Register(RegisterModel);

       
            NavigationManager.NavigateTo("/login");
        
     
    }

}
