@model Hotel_Framework_Test.Server.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EJoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EJoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.De)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.De.DeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HIdNavigation.HId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
