@model IEnumerable<Hotel_Framework_Test.Server.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ELastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EJoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.De)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ELastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EJoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.De.DeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HIdNavigation.HId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
