@page "/admin/rooms"

@using Hotel.Shared

@inject IRoomService RoomService
@inject NavigationManager NavigationManager

<PageTitle>Quản lý phòng ban</PageTitle>


<div class="row container">
    <input @oninput="SearchRooms" type="text" class="tim col-6 mt-4 ml-4" placeholder="Tìm kiếm">

    <div class="col-6 row mt-4">
        <div class="sua col-4 d-inline-block w-2"></div>
        <button class="w-20" @onclick="NavigateBack">Quay lại</button>
        <div class="them col-4 d-inline-block w-2"></div>
        <button class="w-20" @onclick="AddRoom">Thêm</button>
        <div class="xoa col-4 d-inline-block w-2"></div>
        <button class="w-20">Xóa</button>
    </div>
</div>
<!-------------------------------------------------------------------->
@* <div class="row container">
    <div class="sort mt-4 ml-4">
        <div class="ngay col-3 d-inline-block w-2"></div>
        <span class="w-21">Hôm nay</span>

        <div class="thang col-3 d-inline-block w-2"></div>
        <span class="w-21">Trong tuần</span>

        <div class="nam col-3 d-inline-block w-2"></div>
        <span class="w-21">Trong tháng</span>

        <div class="select-input col-3 d-inline-block w-2"></div>
        <span class="w-21">Loại khách<i class="fa-solid fa-angle-down"></i></span>
        <span><input class="chn-ngy" type="date" /></span>
    </div>
</div> *@
<!---------------------------------------------------------------------------------->
<div class="row container d-flex flex-column flex-shrink-0 col-9">
    @* <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> *@

    <table id="myTable">
        <tr class="header">
            <th style="width:25%;">MÃ PHÒNG</th>
            <th style="width:25%;">MÃ LOẠI PHÒNG</th>
            <th style="width:25%;">TRẠNG THÁI</th>
            <th style="width:25%;"></th>
        </tr>
        @{
            var roomsToDisplay = RoomsSearched.Any() ? RoomsSearched : RoomService.Rooms;
            var pageSize = 10;
            // var currentPage = 1;

            if (currentPage > 1)
            {
                roomsToDisplay = roomsToDisplay
                .Skip((currentPage - 1) * pageSize)
                .Take(pageSize)
                .ToList();
            }
            else
            {
                roomsToDisplay = roomsToDisplay
                .Take(pageSize)
                .ToList();
            }

        }
        @foreach (var room in roomsToDisplay)
        {
            <tr>
                <td>@room.RNumber</td>
                <td>@room.RtId</td>
                <td>@room.RAvailable</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowRoom(room.RId))">Click</button>
                </td>
            </tr>
        }
    </table>
</div>
<!----------------------------------------------------------------------------------->
<div>
    <button @onclick="(() => ChangePage(-1))" disabled="@(currentPage == 1)">Previous</button>
    <span>Page @currentPage</span>
    @* <button @onclick="(() => ChangePage(1))" disabled="@(currentPage * pageSize >= roomsToDisplay.Count)">Next</button> *@
    <button @onclick="(() => ChangePage(1))" disabled="@(currentPage * pageSize >= Math.Max(RoomService.Rooms.Count,RoomsSearched.Count))">Next</button>
</div>
@* <div class="row">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div> *@


@code {
    List<Room> RoomsSearched = new List<Room>();

    private int currentPage = 1;

    // don't need to wait until everythings is rendered
    protected override async Task OnInitializedAsync()
    {
        await RoomService.GetRooms();
    }
    void ShowRoom(int id)
    {
        NavigationManager.NavigateTo($"admin/room/{id}");
    }

    void AddRoom()
    {

        NavigationManager.NavigateTo("admin/room");
    }

    void NavigateBack()
    {
        NavigationManager.NavigateTo("admin");
    }

    async Task SearchRooms(ChangeEventArgs e)
    {
        // displayValue = $"You entered: {e.Value}";

        if (string.IsNullOrWhiteSpace(e.Value.ToString()))
        {
            RoomsSearched.Clear(); // Clear the search results if the input is empty
        }
        else
        {
            RoomsSearched = await RoomService.GetRoomByFName(e.Value.ToString());
        }

        StateHasChanged(); // Ensure the UI is updated
    }

    void ChangePage(int change)
    {
        currentPage += change;
        StateHasChanged();
    }
}
